<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"> <!-- MUST ADD THIS -->
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<link rel="stylesheet" th:href="@{/css/main.css}" />

<title>REGISTER</title>

<!--NAGIVATION BAR-->
<div class="banner">
	<div class="leftBanner">
		<h1>BookMark</h1>
	</div>
	<div class="rightBanner">
		<span> <a href="/"><input
				type="button" value="Book Shop" /></a>
		</span>
		<span sec:authorize="isAnonymous()"> <a href="/login"><input
				type="button" value="Login" /></a>
		</span>
		<span sec:authorize="isAnonymous()">
				<a href="/register"><input type="button" value="Register"/></a>
		</span>
		
		<span sec:authorize="isAuthenticated()">
			<a href="/userSecured/personalBookPage">
				<input type="button" value="Personal Book Shelf"/>
			</a>
		</span>
		<span sec:authorize="isAuthenticated()">
			<form method="post" th:action="@{/logout}">
				<input type="submit" value="Logout"  class="logout"/>
			</form>
		</span>
		<span sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUsername()}"></span>
	</div>
</div>
<br>
<body>
	<h3>Register Your Account Here!</h3>
	<form name="form" action="#" th:action="@{/register}" method="post"
		onsubmit="return verify()">
		Email: <input type="email" name="username" /> <br> 
		Password: <input
			type="password" name="password" /> <br> Verify Password: <input
			type="password" name="verifyPassword" /><br> <input
			type="submit" value="Register">
	</form>
	<div id="error" class="error"></div>
</body>
</html>